<div class="container">
    <div class="card shadow-lg color_borde">
        <div class="card-header bg-dark text-light">
            <h1>{{message}}</h1>
        </div>
        <div class="card-body">
            <h2>{{error.status}}</h2>
            <pre>{{error.stack}}</pre>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-lg btn-success">Inicio</a>
        </div>
    </div>
</div>